<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto px-lg-4 mt-lg-5 pt-lg-4">
            <a class="text-center logo-text mb-5 d-block cursor">Student Data</a>
            <form [formGroup]="loginStudentForm">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" class="form-control" formControlName="email" />
                    <span *ngIf="loginStudentForm.controls.email.touched && loginStudentForm.controls.email.invalid" class="invalid_err">Enter valid email address</span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password" />
                    <span *ngIf="loginStudentForm.controls.password.touched && loginStudentForm.controls.password.invalid" class="invalid_err">Enter valid password</span>
                </div>
                <div class="form-groupp">
                    <button class="btn-block btn-lg btn_success" (click)="commit()">Add Student</button>
                </div>
            </form>
        </div>
    </div>
</div>